<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackShack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrackShack.Properties.Settings>
            <setting name="DefaultLayout" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;RootPanel Orientation="Horizontal"&gt;
    &lt;LayoutDocumentPaneGroup Orientation="Horizontal"&gt;
      &lt;LayoutDocumentPane&gt;
        &lt;LayoutDocument Title="Track View" IsSelected="True" ContentId="trackWindow" CanClose="False" CanFloat="False" LastActivationTimeStamp="09/03/2012 15:42:16" /&gt;
      &lt;/LayoutDocumentPane&gt;
    &lt;/LayoutDocumentPaneGroup&gt;
  &lt;/RootPanel&gt;
  &lt;TopSide /&gt;
  &lt;RightSide /&gt;
  &lt;LeftSide /&gt;
  &lt;BottomSide /&gt;
  &lt;FloatingWindows /&gt;
  &lt;Hidden /&gt;
&lt;/LayoutRoot&gt;</value>
            </setting>
        </TrackShack.Properties.Settings>
    </userSettings>
</configuration>